body{
	margin: 0%;
}
*{
	box-sizing: border-box;
}
ul{
	-webkit-padding-start: 0px;
	text-align: center;
}
.main{
	background-color: black;
	color: blueviolet;
	margin-top: 0%;
}
.sidebar{
	color: #faebd7;
	background-color: #1B98E0;
	height: 100vh;
}
.sidebar a{
	text-decoration: none;
	color: black;
}
.sidebar a:hover{
	color:brown;
	background-color: transparent;
}
.sidebar li:hover{
	color:brown;
	background-color: transparent;
}

.sidebar li{
	padding: 6%;
	border: 1px solid black;
	margin-left: 0%;
}
.active {
    background-color: gold;
    color: white;
}